$primary-color: #31352b;
$secondary-color: #ff6838;
$primary-color-opacity: rgba(49, 53, 43, 0.5);
$secondary-color-opacity: rgba(255, 104, 56, 0.7);
$bg-animation: #fff2ed;
$title-color: #363853;
$bg: #f9faff;
$silver-200: #ececec;
$gray: #c2c2c2;

%rubik-300 {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}
