$primary-color: #31352B;
$secondary-color: #ff6838;
$title-color: #363853;
$silver-200: #ececec;
$gray:#c2c2c2;
$silver-100: #f9faff;

%rubik-300 {
  font-family: 'Rubik-Italic', sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}